$base-font-family: 'Arial', sans-serif;
$second-font-family: 'Patua One', cursive;

$main-colour: #3498db;
$secondary-colour: #34495e;
$warning-colour: #e74c3c;

// Font Sizes
$base-font-size: 1em;

// Breakpoints
$medium-screen: 769px;
$large-screen: 900px;
$medium-screen-up: new-breakpoint(min-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);
